.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem;
  align-items: center;
  background-color: white;
  position: sticky;
  top: 0;
  padding: 5px;
  z-index: 100;
}
.my_Image {
  max-width: 100px;
  margin-right: 15px;
  border-radius: 50px;
}
.image_container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
}
.navigation li {
  padding: 1rem;
  font-family: 'Lilita One', cursive;
}
.navigation a {
  transition: color 0.3s;
}
.navigation a:hover {
  color: #facf0f;
}
.hamburger {
  display: none;
}
/* HEADER MEDIA QUERIES */
@media only screen and (max-width: 636px) {
  .hamburger {
    display: inline;
  }
  .navigation {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .my_Image {
    max-width: 70px;
    margin-right: 10px;
    border-radius: 40px;
  }
}
