.container {
  max-width: 120rem;
  margin: auto;
  width: 100%;

}

.projects_title {
  font-size: 35px;
  text-align: center;
  padding-bottom: 2rem;
}

.yellowbrik {
  background-color: #facf0f;
  height: 5px;
  width: 2rem;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, 1rem);
  border-radius: 5px;
}

.projects_box {
  position: relative;
  padding-top: 1rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  width: 90%;
  object-fit: cover;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 30vh;
}

.project {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  justify-content: center;
  margin-bottom: 10rem;
  background-color: white;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  border-radius: 2rem;
  max-width: 80rem;
  margin: 1rem;
  gap: 1rem;
}

.btn_project {
  background: #facf0f;
  color: black;
  padding: 0.8rem 4.5rem;
  font-size: 1.3rem;
  border-radius: 5px;
  font-weight: 400;
}

.btn_project:hover {
  background: #facf0f;
  color: black;
  font-weight: 600;
  transition: all 0.3s;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
}

.porfolioContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.porfolioContent h3 {
  font-size: 1.5rem;
}

.porfolioContent p {
  margin-bottom: 3rem;
  color: #555;
}

.yellowbrik_wrapper {
  text-align: center;
}

.yellowbrik_wrapper h3 {
  color: #555;
}

.image_container {
  overflow: hidden;
  position: relative;
  width: 650px;
  height: 450px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.image_scroll {
  width: 100%;
  height: auto;
  overflow: hidden;
  transition: transform 5s ease;

}

.image_scroll:hover {
  transform: translateY(-75%);
}

.image_scroll img {
  width: 100%;
  height: auto;
}






/* Media Queries */
@media only screen and (max-width: 900px) {
  .project {
    grid-template-columns: 1fr;
  }

  .porfolioContent {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .porfolioContent p {
    max-width: 35rem;
    margin-bottom: 2rem;
    line-height: 1.5;
  }

  .img {
    width: 100%;
  }
}

@media only screen and (max-width:1100px) {
  .project {
    grid-template-columns: 1fr;
  }

  .image_container {
    width: 100%;
  }
}


@media only screen and (max-width: 647px) {
  .yellowbrik {
    top: 45%;
  }
}

@media only screen and (max-width: 393px) {
  .yellowbrik {
    top: 40%;
  }
}

@media only screen and (max-width: 324px) {
  .yellowbrik {
    top: 36%;
  }
}

@media only screen and (max-width: 195px) {
  .yellowbrik {
    top: 33%;
  }
}